---
layout: default
---

{{ content }}

{% assign posts=site.posts | where: 'lang', page.lang | where: 'type', 'post' %}

{% if posts.size > 0 %}
  <ul class="list">
    {% assign month = '' %}

    {% for post in posts %}
      {% capture currentmonth %}{{ post.date | date: '%m/%Y' }}{% endcapture %}
        <!-- Beginning of the new month -->
        {% if currentmonth != month %}
          <li>
            <h2>{% include date.html date=post.date mode="month"%}</h2>
            <ul>
        {% endif %}

        <!-- Post -->
        <li>
          <a href="{{ post.url }}">
            <div>{{ post.date | date: '%-d' }}</div>
            {{ post.title | replace: '<br/>', '' }}
          </a>
        </li>

        {% assign month = currentmonth %}

        <!-- End of the last month -->
        {% if forloop.last %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <section>
    <p class="text-center">{{ site.t[page.lang].no_posts }}</p>
  </section>
{% endif %}
